---
---
/* Write your styles below this line. */
p {
	margin-bottom: 1rem;
}

.font-sans {
	font-family: "Gill Sans";
}

.font-serif {
	font-family: FreightText;
}

/* Backgrounds */
/* 
.sm\:bg-none { @media (min-width: 640px) { background-image: none !important; }}
.md\:bg-none { @media (min-width: 768px) { background-image: none !important; }}
.lg\:bg-none { @media (min-width: 1024px) { background-image: none !important; }}
.xl\:bg-none { @media (min-width: 1280px) { background-image: none !important; }}
.bg-none { background-image: none !important; } 
*/

.xl\:frame-background {
	background-image: none;

	@media (min-width: 1280px) {
		background-image: url('/uploads/home/our-frames.png');
	}
}

.frame-background {
	background-image: url('/uploads/home/our-frames.png');

	@media (min-width: 1280px) {
		background-image: none;
	}
}

.bg-light,
.hover\:bg-light:hover {
	background-color: #F6F2E8;
}

.bg-dark,
.hover\:bg-dark:hover {
	background-color: #B8AA86;
}

.bg-dark80,
.hover\:bg-dark80:hover {
	background-color: rgba(184, 170, 134, 0.8);
}

.bg-charcoal,
.hover\:bg-charcoal:hover {
	background-color: #444444;
}

/* Text Colours */
.text-light,
.hover\:text-light:hover {
	color: #F6F2E8;
}

.text-dark,
.hover\:text-dark:hover {
	color: #B8AA86;
}

.text-dark80,
.hover\:text-dark80:hover {
	color: rgba(184, 170, 134, 0.8);
}

.text-charcoal,
.hover\:text-charcoal:hover {
	color: #444444;
}

/* Misc */
.my-xs {
	margin-top: 0.05rem;
	margin-bottom: 0.05rem;
}

.px-xs {
	padding-left: 0.05rem;
	padding-right: 0.05rem;
}

.frame .overlay {
	opacity: 0;
}

.frame:hover .overlay {
	opacity: 1;
}

.transition {
	transition: all 0.25s;
}

.transition-bg {
	transition-property: background;
}

.transition-slow {
	transition-duration: 0.5s;
}

.transition-slower {
	transition-duration: 0.5s;
}

.transition-fast {
	transition-duration: 0.15s;
}

.transition-faster {
	transition-duration: 0.075s;
}

.embed::before {
	display: block;
	content: '';
	padding-top: 56.25%;
}

*,
::after,
::before {
	box-sizing: border-box;
}

/* Write your styles above this line. */
