---
layout: default
permalink: /
background_image_path: /uploads/home/hero.jpg
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  image_path:
    uploads_dir: /uploads/home
---

<div class="h-screen flex flex-col justify-center bg-cover bg-top bg-no-repeat" style="background-image: url('{{ page.background_image_path }}')">
	<div class="container mx-auto">
		<div class="flex justify-center mb-8">
			<img src="/css/images/logo.png" class="w-2/3 lg:w-1/4 min-w-64" alt="" />
		</div>
		<nav class="flex justify-center">
			<ul class="flex">
				<li class="mr-6">
					<a class="uppercase hover:underline font-sans text-white text-lg" href="/our-frames">Our
						Frames</a>
				</li>
				<li class="mr-6">
					<a class="uppercase hover:underline font-sans text-white text-lg" href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

{% include navigation.html active="home" %}
 
<div class="flex flex-wrap overflow-hidden container mx-auto my-0 md:my-20 lg:my-32 xl:my-48">
	<div class="w-full md:w-1/2 my-2 px-2 overflow-hidden">
		<img class="editable max-w-full h-auto" alt="" src="/uploads/tanous-101.jpg" width="800" srcset="/uploads/tanous-101.jpg 800w, /uploads/tanous-101@2x.jpg 1600w" />
	</div>

	<div class="w-full md:w-1/2 my-2 px-2">
		<img class="hidden md:block editable border-solid border-8 border-white w-4/5 mt-10 -ml-20 lg:-ml-40 xl:mb-5 md:mb-1" alt="" src="/uploads/hero.jpg" width="600" />
		<h2 class="editable text-3xl md:text-4xl lg:text-5xl leading-tight font-serif">
		  Family Owned For Over a Century
		</h2>
		<span class="editable font-sans font-light block">
			<p>
				The Tanous family have been in the framing business since 1905. We use the same skills and techniques that have been handed down in the family.
			</p>
			<p>
				Over the past century, we have been commissioned by artists of the eminence of Jacob Epstein, Augustus John, Nadia Benois, Sir Alfred Munnings and Vivian Pitchforth.
			</p>
		</span>
		{% include button.html href="#" label="Read Our Story" %}
	</div>
</div>

<div class="flex flex-wrap flex-col overflow-hidden mt-40 mb-0 md:my-20 lg:my-32 xl:my-48 container mx-auto items-center">
	<h2 class="text-3xl md:text-4xl lg:text-5xl leading-tight text-center font-serif">Our Frames</h2>
	<p class="editable w-full md:w-4/5 lg:w-3/5 xl:w-2/5 px-2 md:px-0 mb-12 text-center font-sans font-light">
	  We make and restore traditional fine art frames using our unique collection of hand-carved, antique moulds. The Tanous family have been in the trade for over a century, and the team continue to use the same skills that have been handed down in the family for the last century.
	</p>

	<div class="flex flex-wrap flex-row overflow-hidden justify-center container mx-auto mb-5">
		<button data-target="antique" class="editable text-sm md:text-base toggle cursor-pointer block lg:inline-block lg:mt-0 hover:text-dark text-dark hover:text-white mr-2 sm:mr-4 uppercase font-sans">Antique</button>
		<button data-target="contemporary" class="editable text-sm md:text-base toggle cursor-pointer block lg:inline-block lg:mt-0 hover:text-dark hover:text-white mx-2 sm:mx-4 uppercase font-sans">Contemporary &amp; Modern</button>
		<button data-target="restorations" class="editable text-sm md:text-base toggle cursor-pointer block lg:inline-block lg:mt-0 hover:text-dark hover:text-white ml-2 sm:ml-4 uppercase font-sans">Restorations</button>
	</div>

	<div class="container mx-auto p-6 md:p-12 bg-light">
		<div class="target" id="antique">
			<div class="flex flex-wrap flex-row overflow-hidden">
				<div class="w-full sm:w-1/2 md:w-1/3 my-px px-px">
					<img class="editable" alt="" src="/uploads/frame-143.jpg" width="400" srcset="/uploads/frame-143.jpg 400w, /uploads/frame-143@2x.jpg 800w" />
				</div>
				<div class="hidden sm:block sm:w-1/2 md:w-1/3 my-px px-px ">
					<img class="editable" alt="" src="/uploads/frame-3.jpg" width="500" />
				</div>
				<div class="hidden md:block my-px px-px w-1/3">
					<img class="editable" alt="" src="/uploads/frame-109.jpg" width="900" />
				</div>
			</div>

			<div class="flex flex-wrap flex-row justify-center lg:-mt-20">
				<div class="flex flex-wrap flex-row justify-center bg-white shadow-2xl p-4 md:p-10 xl:w-1/2 lg:w-2/3">
					<h3 class="editable text-2xl md:text-3xl leading-tight mb-2 font-serif text-center">Antique Style Frames</h3>
					<p class="editable text-center font-sans font-light">
					  Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
					</p>
					{% include button.html href="/our-frames/antique-frames" label="See More Frames" %}
				</div>
			</div>
		</div>

		<div class="target hidden" id="contemporary">
			<div class="flex flex-wrap flex-row overflow-hidden">
				<div class="w-full sm:w-1/2 md:w-1/3 my-px px-px">
					<img class="editable" alt="" src="/uploads/frame-145.jpg" width="400" srcset="/uploads/frame-145.jpg 400w, /uploads/frame-145@2x.jpg 800w" />
				</div>
				<div class="hidden sm:block sm:w-1/2 md:w-1/3 my-px px-px ">
					<img class="editable" alt="" src="/uploads/frame-69.jpg" width="500" />
				</div>
				<div class="hidden md:block my-px px-px w-1/3">
					<img class="editable" alt="" src="/uploads/frame-147.jpg" width="900" />
				</div>
			</div>

			<div class="flex flex-wrap flex-row justify-center lg:-mt-20">
				<div class="flex flex-wrap flex-row justify-center bg-white shadow-2xl p-4 md:p-10 xl:w-1/2 lg:w-2/3">
					<h3 class="editable text-2xl md:text-3xl leading-tight mb-2 font-serif text-center">Contemporary &amp; Modern Frames</h3>
					<p class="editable text-center font-sans font-light">
					  Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Ornare Amet Cras Tristique Sollicitudin.
					</p>
					{% include button.html href="/our-frames/antique-frames" label="See More Frames" %}
				</div>
			</div>
		</div>

		<div class="target hidden" id="restorations">
			<div class="flex flex-wrap flex-row overflow-hidden">
				<div class="w-full sm:w-1/2 md:w-1/3 my-px px-px">
					<img class="editable" alt="" width="400" src="/uploads/tanous-150.jpg" />
				</div>
				<div class="hidden sm:block sm:w-1/2 md:w-1/3 my-px px-px ">
					<img class="editable" alt="" src="/uploads/tanous-99.jpg" width="400" srcset="/uploads/tanous-99.jpg 400w, /uploads/tanous-99@2x.jpg 800w" />
				</div>
				<div class="hidden md:block my-px px-px w-1/3">
					<img class="editable" alt="" width="500" src="/uploads/tanous-149.jpg" />
				</div>
			</div>

			<div class="flex flex-wrap flex-row justify-center lg:-mt-20">
				<div class="flex flex-wrap flex-row justify-center bg-white shadow-2xl p-4 md:p-10 xl:w-1/2 lg:w-2/3">
					<h3 class="editable text-2xl md:text-3xl leading-tight mb-2 font-serif text-center">Frame Restorations</h3>
					<p class="editable text-center font-sans font-light">
					  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.
					</p>
					{% include button.html href="/our-frames/antique-frames" label="See More Frames" %}
				</div>
			</div>
		</div>
	</div>
</div>