<footer class="bg-charcoal xl:p0 lg:px-5">
	<div class="flex flex-wrap overflow-hidden container mx-auto py-12">
		<div class="flex w-1/4 overflow-hidden">
			<img src="/css/images/guild.jpg" alt="" />
			<p class="text-white font-sans font-light ml-8">
				Tanous Fine Art Frames is a recognised member of the Fine Art Trade Guild.
			</p>
		</div>
		<div class="ml-auto w-1/6 overflow-hidden font-sans text-white font-light text-right">
			Tanous Fine Art Frames Limited<br />
			7 Lillie Yard<br />
			Fulham<br />
			London<br />
			SW6 1UB
		</div>
		<div class="w-1/6 overflow-hidden font-sans text-white font-light text-right">
			<a href="mailto:hello@tanousframes.com" class="hover:underline">hello@tanousframes.com</a
			><br />
			+44 (0) 20 7385 9930<br />
			+44 (0) 7831 274052
		</div>
	</div>
</footer>
