<div class="w-1/2 sm:w-1/3 lg:w-1/4 my-xs px-xs relative frame">
  <div class="flex text-center absolute inset-0 bg-dark80 overlay transition">
    <div class="m-auto overflow-hidden">
      <h3 class="text-white font-serif text-2xl xl:text-3xl px-4 break-normal leading-tight truncate lg:break-normal lg:whitespace-normal lg:overflow-auto">{{ include.frame.name }}</h3> 
      <p class="text-white font-sans px-4">{{ include.frame.reference }}</p>
      {% assign url = include.frame.url | prepend: site.baseurl %}
      {% include button.html href=url label="View Frame" class="flex-grow-0 " %}
    </div>
  </div>
  <img class="max-w-full h-auto" src="{{ include.frame.image_path }}" alt="" />
</div>