---
layout: default

_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  background_image_path:
    uploads_dir: /uploads/home
---

{% include navigation.html active="our-frames" %}

<div class="xl:frame-background bg-no-repeat bg-right-top mt-12 md:mt-20 lg:mt-32 xl:mt-48">
	<div class="flex flex-wrap overflow-hidden container mx-auto px-2 md:pr-0 xl:px-0">
		<div class="w-full sm:w-5/12 xl:w-2/5 overflow-hidden pb-12 md:pb-20 lg:pb-32 xl:pb-48">
			<h2 class="editable text-4xl font-serif">
			  Our Frames
			</h2>
			<p class="editable font-sans font-light">
			  We strive to restore frames to their original condition and offer a wide variety of restoration services. Some of which include ornament repair, gilding, cleaning and stabilisation. Call us or email us to discuss your restoration needs.
			</p>
		</div>
		<div class="hidden sm:block xl:hidden frame-background block w-6/12 ml-auto"></div>
	</div>
</div>

<nav id="frames" class="border-t border-dark">
	<ul class="flex flex-wrap md:flex-no-wrap py-3 px-2">
		<li class="w-full md:w-auto mr-6 mb-4 md:mb-0">
			<a class="editable uppercase hover:underline font-sans text-sm {% if page.permalink == "/our-frames/" %}underline text-dark{% endif %}" href="/our-frames#frames">All Frames</a>
		</li>
		<li class="w-full md:w-auto mr-6 mb-4 md:mb-0">
			<a class="editable uppercase hover:underline font-sans text-sm {% if page.permalink == "/our-frames/antique-frames/" %}underline text-dark{% endif %}" href="/our-frames/antique-frames#frames">Antique Style Frames</a>
		</li>
		<li class="w-full md:w-auto mr-6 mb-4 md:mb-0">
			<a class="editable uppercase hover:underline font-sans text-sm {% if page.permalink == "/our-frames/contemporary-frames/" %}underline text-dark{% endif %}" href="/our-frames/contemporary-frames#frames">Contemporary Style Frames</a>
		</li>
		<li class="w-full md:w-auto mr-6">
			<a class="editable uppercase hover:underline font-sans text-sm {% if page.permalink == "/our-frames/frame-restorations/" %}underline text-dark{% endif %}" href="/our-frames/frame-restorations#frames">Frame Restorations</a>
		</li>
	</ul>
</nav>

<div class="flex flex-wrap">
	{% assign framesInUse = "|" | split: "|" %}

	{% for collection in page.frames %}
		{% assign framesInUse = framesInUse | concat: site[collection] %}
	{% endfor %}

	{% for frame in framesInUse %}
		{% include frame.html frame=frame %}
	{% endfor %}
</div>